@mixin alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin MainButtonStyling {
  position: relative;
  width: clamp(125px, 20vw, 200px);
  height: clamp(45px, 10vw, 70px);
  border: 2px solid var(--SiteColor3);
  color: var(--SiteColor3);
  font-weight: bolder;
  border-radius: 5px;
  font-size: clamp(0.7em, 2vw, 1.2em);
  transition: -webkit-text-stroke 500ms, background-color 500ms, color 500ms,
    box-shadow 500ms;
  box-shadow: 0px 0px 0px transparent;
  cursor: pointer;

  &:hover {
    background-color: var(--SiteColor3);
    color: var(--SiteColor1);
    -webkit-text-stroke: 0.5px var(--SiteColor1);
    box-shadow: 0px 0px 10px var(--SiteColor3);
    transition: -webkit-text-stroke 500ms, background-color 500ms, color 500ms,
      box-shadow 500ms;
  }
}

@mixin hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
