.NeuralinkPage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  // border: 10px solid lightskyblue;
  overflow-y: scroll;
  scroll-behavior: smooth;
  @include hideScrollBar;
  background-color: white;

  section {
    position: relative;
    width: 100%;
    height: 100%;
    // border: 5px solid lightgrey;
  }

  #NeuralinkHome {
    position: relative;
    // @include alignCenter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // align-items: stretch;
    // align-items: stretch;
    // flex-direction: row-reverse;
    border: 10px solid white;
    border-radius: 40px;
    background: #642b73; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #c6426e,
      #642b73
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #c6426e,
      #642b73
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .RightBox,
    .LeftBox {
      // width: 50%;
      // height: 100%;
      position: relative;
      // width: 50%;
      @include alignCenter;
      flex-basis: 500px;
    }

    .RightBox {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      h1 {
        color: white;
        font-size: 8vw;
        font-weight: bolder;
        text-decoration: underline 1px white;
        margin: 0;
      }

      p {
        font-size: clamp(15px, 4vw, 30px);
      }

      .buttonContainer {
        @include alignCenter;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        height: 40%;

        // button {
        //   color: black;
        // }
      }
    }
    .LeftBox {
      .lottieContainer {
        position: relative;
        width: clamp(300px, 40vw, 600px);
        height: clamp(300px, 40vw, 600px);
        background: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        // backdrop-filter: blur(10px);

        svg {
          top: 0;
          left: 0;
          position: absolute;

          g {
            overflow: visible;
            width: 700px;
            height: 700px;

            path {
              transform: scale(1.45);
            }
          }
        }
      }
    }
  }

  #InfoBlock1 {
    position: relative;
    @include alignCenter;
    flex-direction: row;
    justify-content: space-evenly;

    .card {
      position: relative;
      width: 350px;
      border-radius: 20px;
      overflow: hidden;
      height: 60%;
      cursor: pointer;
      @include alignCenter;
      transition: transform 500ms;
      background: #642b73; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to bottom,
        #c6426e,
        #642b73
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to bottom,
        #c6426e,
        #642b73
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      > * {
        position: absolute;
      }

      .infoBox {
        width: 90%;
        height: 90%;
        z-index: 1;

        > * {
          color: white;
          z-index: 0;
        }

        h2 {
          text-align: center;
          font-size: 1.7rem;
          font-weight: bolder;
          padding: 0px 5%;
          transition: all 500ms;
        }
        p {
          z-index: 2;
          transition: opacity 500ms;
          opacity: 0;
          transform: rotateY(180deg);
          padding: 20px 5%;
          font-weight: bolder;
          overflow: hidden;
        }
      }

      .svgBox {
        @include alignCenter;
        z-index: 0;
        margin-top: 15%;
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid white;
        border-radius: 50%;
        transition: background-color 500ms;

        svg {
          width: 50%;
          height: 50%;
          fill: white;
          transition: fill 500ms;
        }
      }
    }

    .front {
      transform: rotateY(0deg);

      .infoBox {
        @include alignCenter;
        justify-content: space-around;
        overflow: hidden;

        p {
          position: absolute;
        }

        h2 {
          height: 15%;
          margin-bottom: 80%;
        }

        img {
          position: absolute;
          opacity: 0;
        }
      }

      &:hover {
        .infoBox h2 {
          transform: translateY(20px);
          transition: transform 500ms;
        }
        .svgBox {
          background-color: #642b73;
          transition: background-color 500ms;
          svg {
            transition: fill 500ms;
            fill: #c6426e;
          }
        }
      }
    }
    .back {
      transform: rotateY(180deg);
      .infoBox {
        overflow-y: scroll;
        display: block;
        h2 {
          height: 0;
          opacity: 0;
          transition: opacity 500ms;
        }
        p {
          transition: opacity 500ms;
          opacity: 1;
        }
      }

      .svgBox {
        transition: opacity 500ms;
        opacity: 0;
      }
    }
  }

  #InfoBlock2 {
    @include alignCenter;

    .blockContainer {
      position: relative;
      width: 95%;
      height: 90%;
      background-color: transparent;
      border: 2px solid #c6426e;
      border-radius: 20px;
      @include alignCenter;
      flex-direction: row;
      overflow: hidden;

      .symptomsList {
        width: 50%;
        height: 100%;
        @include alignCenter;
        flex-direction: column;
        justify-content: flex-start;
        background: #642b73; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #c6426e,
          #642b73
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #c6426e,
          #642b73
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        h1 {
          width: 100%;
          height: 70px;
          @include alignCenter;
          margin: 50px;
          font-weight: bolder;
          color: white;
          font-size: 1.5rem;
          border-top: 1px solid white;
          border-bottom: 1px solid white;
        }

        .symptom {
          @include alignCenter;
          width: 100%;
          height: 70px;
          background: transparent;
          transition: background 500ms;
          cursor: pointer;

          p {
            color: white;
            font-weight: bolder;
          }

          &:hover {
            background: rgba(255, 255, 255, 0.2);
            // background: linear-gradient(
            //   to right,
            //   #cb6789,
            //   #693e74
            // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            transition: background 500ms;
          }
        }
      }
      .symptomsInfo {
        position: relative;
        width: 50%;
        height: 100%;
        @include alignCenter;
        flex-direction: column;

        .headerColors {
          position: relative;
          width: 100%;
          height: 15%;
          @include alignCenter;
          flex-direction: row;
          justify-content: space-around;
          border-bottom: 2px solid #c6426e;

          .box {
            position: relative;
            width: 25%;
            height: 100%;
            @include alignCenter;
            flex-direction: row;
            justify-content: space-around;

            .ball {
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }
            p {
              width: 70%;
              color: #642b73;
              font-weight: bolder;
            }
          }
        }

        .symptomsDataBox {
          position: relative;
          width: 100%;
          height: 85%;
          @include alignCenter;
          flex-direction: column;
          justify-content: space-evenly;

          > * {
            margin: 0px 10%;
          }

          h1 {
            font-weight: bolder;
            padding: 0px 10%;
            color: #642b73;
            font-size: 2rem;
            text-align: center;
          }

          p {
            font-size: 1.2rem;
          }

          .imgContainer {
            position: relative;
            width: 300px;
            height: 200px;
            @include alignCenter;
            background: #642b73; /* fallback for old browsers */
            background: -webkit-linear-gradient(
              to top,
              #c6426e,
              #642b73
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
              to top,
              #c6426e,
              #642b73
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            img {
              width: 100%;
              height: 100%;
            }
          }

          .colorBallShifter {
            top: 12%;
            left: 20px;
            width: 25px;
            height: 25px;
            border: 2px solid #c6426e;
            border-radius: 50%;
            position: absolute;
          }
        }
      }
    }
  }
}

.RetosPage {
  width: 100%;
  height: 100%;
  position: absolute;
  @include alignCenter;
  flex-direction: column;
  justify-content: space-around;
  background: white;

  .returnButton {
    z-index: 5;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 30px;
    @include alignCenter;
    transform: rotate(-180deg);
    border-radius: 50%;
    border-right: 5px solid #642b73;
    border-left: 5px solid #642b73;
    border-top: 5px solid #c6426e;
    border-bottom: 5px solid #c6426e;
    cursor: pointer;
    transition: background-color 500ms;

    svg {
      width: 70%;
      height: 70%;
      transition: fill 500ms;
    }

    &:hover {
      transition: background-color 500ms;
      background-color: hsla(288, 46%, 31%, 0.4);

      svg {
        transition: fill 500ms;
        fill: white;
      }
    }
  }

  .titlesBox {
    position: relative;
    width: 100%;
    height: 30%;
    @include alignCenter;
    flex-direction: column;
    justify-content: space-evenly;

    > * {
      color: white;
    }

    h1 {
      font-size: 1.8rem;
      font-weight: bolder;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 20px;
      padding: 5px 20px;
      @include alignCenter;
      text-align: center;
      background: #642b73; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #c6426e,
        #642b73
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #c6426e,
        #642b73
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    p {
      width: 90%;
      font-size: 1.1rem;
      color: #642b73;
      font-weight: bolder;
    }
  }

  .sectionsBox {
    position: relative;
    width: 90%;
    height: 60%;
    overflow: scroll;
    // border: 5px solid black;

    .drawer {
      position: relative;
      width: 100%;
      @include alignCenter;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      border: 2px solid white;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      margin: 1px 0px;
      transition: all 500ms;

      background: #642b73; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #c6426e,
        #642b73
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #c6426e,
        #642b73
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      > * {
        width: 100%;
        height: 50%;
      }

      .headerBox {
        @include alignCenter;
        top: 0;
        left: 0;
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        transition: height 500ms;

        > * {
          margin: 0px 50px;
        }

        h1 {
          color: white;
          font-weight: bolder;
          font-size: 1.2rem;
        }

        .svgBox {
          position: relative;
          width: 30px;
          height: 30px;
          transition: transform 500ms;

          svg {
            width: 100%;
            height: 100%;
            fill: white;
          }
        }
      }

      .contentBox {
        position: relative;
        margin-top: 100px;
        overflow: hidden;
        height: calc(100% - 100px);
        overflow: scroll;
        transition: opacity 500ms, height 250ms;

        p,
        li {
          width: 90%;
          font-weight: 600;
          color: white;
          margin: 15px auto;
        }

        ul {
          width: 90%;
          margin: 0px auto;
          // background-color: black;
        }

        .visualsBox {
          width: 100%;
          margin: 40px 0px; // height: 400px;
          @include alignCenter;
          flex-direction: row;
          justify-content: space-around;
          // border: 5px solid lightgreen;
          overflow: hidden;

          .imgContainer {
            position: relative;
            width: 420px;
            height: 315px;
            overflow: scroll;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    .open {
      height: 500px;

      .headerBox {
        height: 100px;
        .svgBox {
          transform: rotate(90deg);
        }
      }

      .contentBox {
        opacity: 1;
      }
    }
    .closed {
      height: 100px;

      .headerBox {
        height: 100%;
        .svgBox {
          transform: rotate(0deg);
        }
      }

      .contentBox {
        opacity: 0;
        height: 0;
      }
    }
  }
}
