@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

@import "./functions";

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --SitePrimaryColor: #ededf0;
  --SiteSecondaryColor: #1c72bc;
  --SiteTertiaryColor: #000000;

  --HighRiskColor: #e42c2ca7;
  --MediumRiskColor: #fa8a12a7;
  --LowRiskColor: #0efa2290;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--SitePrimaryColor) !important;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;

  .GlobalNav {
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    background-color: transparent;
    @include alignCenter();
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;

    .logo {
      z-index: 3;
      position: relative;
      margin-left: -40px;
      display: none;
      width: clamp(90px, 10vw, 140px);
      height: clamp(90px, 10vw, 140px);
      border-radius: 50%;
      background-color: var(--SiteSecondaryColor);
      border: 1px solid var(--SitePrimaryColor);

      @include alignCenter();
      svg,
      img {
        margin-top: 15%;
        margin-left: 15%;
        width: 40%;
        height: 40%;
      }
    }
  }

  .HomePage {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--SitePrimaryColor);
    overflow: visible;

    @include alignCenter;
    flex-direction: row;

    .HomeLeftBox {
      position: relative;
      z-index: 1;
      width: 50%;
      height: 100%;
      @include alignCenter;
      flex-direction: column;

      .lottieBox {
        position: relative;
        width: 100%;
        height: 100%;
        @include alignCenter;

        svg {
          width: 100%;
          height: auto;
        }
      }
    }
    .HomeRightBox {
      z-index: 1;
      position: relative;
      width: 50%;
      height: 100%;
      @include alignCenter();
      background-color: transparent;

      .TitlesBox,
      .ButtonsBox {
        width: 90%;
        height: 40%;
        z-index: 1;
        @include alignCenter();
      }

      .TitlesBox {
        h1,
        h2,
        h3 {
          color: var(--SitePrimaryColor);
          margin: 10px 0px;
          text-align: center;
        }
        h2 {
          font-size: clamp(1rem, 4vw, 1.8rem);
        }

        h1 {
          font-size: clamp(2rem, 10vw, 4.5rem);
          font-family: "Paytone One", sans-serif;
        }

        h3 {
          color: var(--SiteTertiaryColor);
          font-size: clamp(0.9rem, 2vw, 1.3rem);
        }
      }

      .ButtonsBox {
        @include alignCenter();
        width: 70%;
        height: 30%;
        flex-direction: column;
        justify-content: space-around;

        Button {
          font-size: clamp(0.9rem, 2vw, 1.2rem);
        }

        // button {
        //   width: 170px;
        //   height: 60px;
        //   border-radius: 10px;
        //   cursor: pointer;
        //   font-size: 1rem;
        //   color: var(--SiteTertiaryColor);
        //   background-color: transparent;
        //   border: 2px solid var(--SiteSecondaryColor);
        //   -webkit-text-stroke: 1px var(--SiteTertiaryColor);
        // }
      }
    }

    .bg {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100vh;
      z-index: 0;
      @include alignCenter();
      flex-direction: row;
      // justify-content: flex-end;
      // background-color: turquoise;

      .custom-shape-divider-top-1629405038 {
        z-index: 0;
        position: absolute;
        width: 100vh;
        overflow: hidden;
        line-height: 0;
        transform: rotate(270deg);
      }

      .custom-shape-divider-top-1629405038 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 181px;
      }

      .custom-shape-divider-top-1629405038 .shape-fill {
        fill: #1c72bc;
      }

      .colorBox {
        position: relative;
        margin-left: auto;
        width: 44%;
        height: 100%;
        background-color: var(--SiteSecondaryColor);
      }
    }
  }

  .MedsPage {
    position: relative;
    width: 100%;
    height: 100%;
    @include alignCenter;
    flex-direction: column;
    justify-content: flex-start;

    .SearchBar {
      position: relative;
      width: 100%;
      height: 70px;
      background-color: var(--SiteSecondaryColor);
      @include alignCenter;
      flex-direction: row;
      justify-content: space-around;

      .innerBar {
        position: relative;
        height: 60%;
        width: 50%;
        border-radius: 10px;
        background-color: var(--SitePrimaryColor);
        @include alignCenter;

        input {
          margin-right: auto;
          width: 85%;
          height: 100%;
          outline: none;
          padding: 2%;
          border-radius: 10px;
          font-size: clamp(0.8rem, 2vw, 1rem);
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .svgBox {
          right: 5%;
          position: absolute;
          width: 20px;
          height: 20px;
          @include alignCenter;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .arrowButton {
        height: 50px;
        width: 50px;
        @include alignCenter;
        cursor: pointer;
        background-color: var(--SitePrimaryColor);
        border-radius: 50%;
        transition: background-color 500ms;
        display: none;

        svg {
          pointer-events: none;
          width: 80%;
          height: auto;
          transition: fill 500ms;
        }

        &:hover {
          transition: background-color 500ms;
          background-color: var(--SiteTertiaryColor);

          svg {
            transition: fill 500ms;
            fill: var(--SitePrimaryColor);
          }
        }
      }
    }
    .FetchedMedsDisplay {
      position: relative;
      width: #{"max(60%, 300px)"};
      margin-top: 70px;
      height: calc(100% - 140px);
      overflow-y: scroll;
      overflow-x: hidden;
      margin-right: 25%;

      .MedContainer {
        margin: 5px 0px;
        position: relative;
        padding: 10px;
        border: 2px solid darkslategrey;

        > * {
          margin: 5px 5%;
        }

        Button {
          margin-top: 15px;
        }

        .MedInfo {
          overflow-y: scroll;
          overflow-x: hidden;

          > * {
            position: relative;
            font-weight: bolder;
          }

          h2 {
            font-size: 1.2rem;
            text-decoration: underline 3px var(--SiteSecondaryColor);
          }

          h3 {
            font-size: 1.15rem;
          }

          .AdverseEffectsList {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            gap: 5px;

            li {
              position: relative;
              flex: 1 1 150px;
              min-height: 60px;

              > * {
                position: absolute;
                font-size: 0.9rem;
                width: 100%;
                height: 100%;
                @include alignCenter;
              }

              #key {
                &:hover {
                  + #value {
                    opacity: 1;
                    transition: opacity 500ms;
                  }
                }
              }
              #value {
                // height: auto;
                padding: 15px 10%;
                opacity: 0;
                @include alignCenter();
                background-color: hsl(0, 0%, 18%);
                color: white;
                pointer-events: none;
                transition: opacity 500ms;
                font-size: 0.7rem;
                transform: translateY(-70px);
              }

              #value::before {
                content: "";
                position: absolute;
                left: 45%;
                bottom: -15%;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid hsl(0, 0%, 18%);
              }
            }
          }

          .RelativeMedsList {
            position: relative;
            width: 100%;
            @include alignCenter;
            gap: 30px;

            li {
              position: relative;
              width: 100%;

              h4 {
                margin: 10px 0px;
              }

              .RelativeMedsBox {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                div {
                  flex: 1 1 150px;
                  min-height: 50px;
                  background-color: var(--SiteSecondaryColor);
                  @include alignCenter;
                  color: white;
                  font-size: 0.8rem;
                }
              }
            }
          }
        }

        .MedInfo::before {
          top: 45px;
          left: 2%;
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: var(--SiteTertiaryColor);
          border-radius: 50%;
        }

        .arrow {
          top: 40px;
          right: 2.5%;
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid var(--SiteTertiaryColor);
        }
      }

      .loaderContainer {
        width: 100%;
        height: 100%;
        @include alignCenter;

        h4 {
          font-size: clamp(1rem, 4vw, 2.5rem);
        }

        .spinner {
          width: 80px;
          height: 80px;
          margin-top: 5%;
          margin-bottom: 10%;
          border-radius: 50%;
          border-left: 5px solid var(--SiteSecondaryColor);
          border-right: 5px solid var(--SiteSecondaryColor);
          border-top: 5px solid var(--SiteSecondaryColor);
          border-bottom: 5px solid transparent;
          animation: rotate 1s linear infinite;
        }
      }
    }
    .RiskBox {
      position: absolute;
      top: 69px;
      right: 20px;
      width: #{"min(350px, 100%)"};
      height: 60%;
      border: 1px solid var(--SiteTertiaryColor);
      @include alignCenter;
      flex-direction: column;
      justify-content: space-around;
      background-color: var(--SitePrimaryColor);

      h2,
      p {
        font-weight: bolder;
      }

      h2 {
        font-size: 1.2rem;
      }

      p {
        position: relative;
      }

      p::before {
        position: absolute;
        top: 30%;
        left: -20px;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--HighRiskColor);
      }

      #mr {
        &::before {
          background-color: var(--MediumRiskColor);
        }
      }
      #lr {
        &::before {
          background-color: var(--LowRiskColor);
        }
      }

      label {
        padding: 0px 10px;
        text-align: justify;
      }
    }
  }

  .PusherPage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--SitePrimaryColor);
    @include alignCenter;

    form {
      position: relative;
      height: 100%;
      width: 40%;
      border: 2px solid black;
      overflow: scroll;

      div {
        margin: 15px 0px;
        position: relative;
        @include alignCenter;
        justify-content: space-evenly;
        flex-direction: column;
        border: 2px solid lightgreen;
        height: 100px;
      }

      .listInputs {
        height: 500px;
        position: relative;
        border: 2px solid lightblue;

        span {
          position: relative;
          width: 100%;
          height: 200px;
          border: 2px solid lightcoral;
          @include alignCenter;
          flex-direction: column;
          justify-content: space-evenly;

          .removeButton {
            position: absolute;
            top: 5px;
            right: 5px;
          }
        }
      }
    }
  }
}

@import "./mobileOpt";
