@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
// @import "~/";

@import "./functions";

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --SitePrimaryColor: #ededf0;
  --SiteSecondaryColor: #1c72bc;
  --SiteTertiaryColor: #000000;

  --HighRiskColor: #e42c2ca7;
  --MediumRiskColor: #fa8a12a7;
  --LowRiskColor: #0efa2290;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--SitePrimaryColor) !important;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;

  .InitPage {
    position: absolute;
    width: 100%;
    height: 100%;
    @include alignCenter;
    flex-direction: row;
    justify-content: space-evenly;

    div {
      width: 400px;
      height: 60%;
      border: 2px solid black;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.166);
      @include alignCenter;
      flex-direction: column;
      justify-content: space-around;

      h1,
      p {
        font-weight: bolder;
      }

      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

@import "./PediaFarm";
@import "./MotoMed";
@import "./mobileOpt";
