@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap");
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

:root {
  --SitePrimaryColor: #ededf0;
  --SiteSecondaryColor: #1c72bc;
  --SiteTertiaryColor: #000000;
  --HighRiskColor: #e42c2ca7;
  --MediumRiskColor: #fa8a12a7;
  --LowRiskColor: #0efa2290;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--SitePrimaryColor) !important;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

.App .InitPage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App .InitPage div {
  width: 400px;
  height: 60%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.166);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.App .InitPage div h1,
.App .InitPage div p {
  font-weight: bolder;
}

.App .InitPage div h1 {
  font-size: 2rem;
}

.App .InitPage div p {
  font-size: 1rem;
}

.GlobalNav {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

.GlobalNav .logo {
  z-index: 3;
  position: relative;
  margin-left: -40px;
  display: none;
  width: clamp(90px, 10vw, 140px);
  height: clamp(90px, 10vw, 140px);
  border-radius: 50%;
  background-color: var(--SiteSecondaryColor);
  border: 1px solid var(--SitePrimaryColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.GlobalNav .logo svg,
.GlobalNav .logo img {
  margin-top: 15%;
  margin-left: 15%;
  width: 40%;
  height: 40%;
  fill: var(--SitePrimaryColor);
}

.HomePage {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--SitePrimaryColor);
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
}

.HomePage .HomeLeftBox {
  position: relative;
  z-index: 1;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
}

.HomePage .HomeLeftBox .lottieBox {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.HomePage .HomeLeftBox .lottieBox svg {
  width: 100%;
  height: auto;
}

.HomePage .HomeRightBox {
  z-index: 1;
  position: relative;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
}

.HomePage .HomeRightBox .TitlesBox,
.HomePage .HomeRightBox .ButtonsBox {
  width: 90%;
  height: 40%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.HomePage .HomeRightBox .TitlesBox h1,
.HomePage .HomeRightBox .TitlesBox h2,
.HomePage .HomeRightBox .TitlesBox h3 {
  color: var(--SitePrimaryColor);
  margin: 10px 0px;
  text-align: center;
}

.HomePage .HomeRightBox .TitlesBox h2 {
  font-size: clamp(1rem, 4vw, 1.8rem);
}

.HomePage .HomeRightBox .TitlesBox h1 {
  font-size: clamp(2rem, 10vw, 4.5rem);
  font-family: "Paytone One", sans-serif;
}

.HomePage .HomeRightBox .TitlesBox h3 {
  color: var(--SiteTertiaryColor);
  font-size: clamp(0.9rem, 2vw, 1.3rem);
}

.HomePage .HomeRightBox .ButtonsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 30%;
  flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.HomePage .HomeRightBox .ButtonsBox Button {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}

.HomePage .bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
}

.HomePage .bg .custom-shape-divider-top-1629405038 {
  z-index: 0;
  position: absolute;
  width: 100vh;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.HomePage .bg .custom-shape-divider-top-1629405038 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 181px;
}

.HomePage .bg .custom-shape-divider-top-1629405038 .shape-fill {
  fill: #1c72bc;
}

.HomePage .bg .colorBox {
  position: relative;
  margin-left: auto;
  width: 44%;
  height: 100%;
  background-color: var(--SiteSecondaryColor);
}

.MedsPage {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.MedsPage .SearchBar {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: var(--SiteSecondaryColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.MedsPage .SearchBar .innerBar {
  position: relative;
  height: 60%;
  width: 50%;
  border-radius: 10px;
  background-color: var(--SitePrimaryColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MedsPage .SearchBar .innerBar input {
  margin-right: auto;
  width: 85%;
  height: 100%;
  outline: none;
  padding: 2%;
  border-radius: 10px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MedsPage .SearchBar .innerBar .svgBox {
  right: 5%;
  position: absolute;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MedsPage .SearchBar .innerBar .svgBox svg {
  width: 100%;
  height: 100%;
}

.MedsPage .SearchBar .arrowButton {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  background-color: var(--SitePrimaryColor);
  border-radius: 50%;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  display: none;
}

.MedsPage .SearchBar .arrowButton svg {
  pointer-events: none;
  width: 80%;
  height: auto;
  -webkit-transition: fill 500ms;
  transition: fill 500ms;
}

.MedsPage .SearchBar .arrowButton:hover {
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  background-color: var(--SiteTertiaryColor);
}

.MedsPage .SearchBar .arrowButton:hover svg {
  -webkit-transition: fill 500ms;
  transition: fill 500ms;
  fill: var(--SitePrimaryColor);
}

.MedsPage .FetchedMedsDisplay {
  position: relative;
  width: max(60%, 300px);
  margin-top: 70px;
  height: calc(100% - 140px);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 25%;
}

.MedsPage .FetchedMedsDisplay .MedContainer {
  margin: 5px 0px;
  position: relative;
  padding: 10px;
  border: 2px solid darkslategrey;
}

.MedsPage .FetchedMedsDisplay .MedContainer > * {
  margin: 5px 5%;
}

.MedsPage .FetchedMedsDisplay .MedContainer Button {
  margin-top: 15px;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo {
  overflow-y: scroll;
  overflow-x: hidden;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo > * {
  position: relative;
  font-weight: bolder;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo h2 {
  font-size: 1.2rem;
  -webkit-text-decoration: underline 3px var(--SiteSecondaryColor);
          text-decoration: underline 3px var(--SiteSecondaryColor);
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo h3 {
  font-size: 1.15rem;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .AdverseEffectsList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  gap: 5px;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .AdverseEffectsList li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  min-height: 60px;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .AdverseEffectsList li > * {
  position: absolute;
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .AdverseEffectsList li #key:hover + #value {
  opacity: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .AdverseEffectsList li #value {
  padding: 15px 10%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2e2e2e;
  color: white;
  pointer-events: none;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  font-size: 0.7rem;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .AdverseEffectsList li #value::before {
  content: "";
  position: absolute;
  left: 45%;
  bottom: -15%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2e2e2e;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .RelativeMedsList {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .RelativeMedsList li {
  position: relative;
  width: 100%;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .RelativeMedsList li h4 {
  margin: 10px 0px;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .RelativeMedsList li .RelativeMedsBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo .RelativeMedsList li .RelativeMedsBox div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  min-height: 50px;
  background-color: var(--SiteSecondaryColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 0.8rem;
}

.MedsPage .FetchedMedsDisplay .MedContainer .MedInfo::before {
  top: 45px;
  left: 2%;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--SiteTertiaryColor);
  border-radius: 50%;
}

.MedsPage .FetchedMedsDisplay .MedContainer .arrow {
  top: 40px;
  right: 2.5%;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--SiteTertiaryColor);
}

.MedsPage .FetchedMedsDisplay .loaderContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MedsPage .FetchedMedsDisplay .loaderContainer h4 {
  font-size: clamp(1rem, 4vw, 2.5rem);
}

.MedsPage .FetchedMedsDisplay .loaderContainer .spinner {
  width: 80px;
  height: 80px;
  margin-top: 5%;
  margin-bottom: 10%;
  border-radius: 50%;
  border-left: 5px solid var(--SiteSecondaryColor);
  border-right: 5px solid var(--SiteSecondaryColor);
  border-top: 5px solid var(--SiteSecondaryColor);
  border-bottom: 5px solid transparent;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

.MedsPage .RiskBox {
  position: absolute;
  top: 69px;
  right: 20px;
  width: min(350px, 100%);
  height: 60%;
  border: 1px solid var(--SiteTertiaryColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--SitePrimaryColor);
}

.MedsPage .RiskBox h2,
.MedsPage .RiskBox p {
  font-weight: bolder;
}

.MedsPage .RiskBox h2 {
  font-size: 1.2rem;
}

.MedsPage .RiskBox p {
  position: relative;
}

.MedsPage .RiskBox p::before {
  position: absolute;
  top: 30%;
  left: -20px;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--HighRiskColor);
}

.MedsPage .RiskBox #mr::before {
  background-color: var(--MediumRiskColor);
}

.MedsPage .RiskBox #lr::before {
  background-color: var(--LowRiskColor);
}

.MedsPage .RiskBox label {
  padding: 0px 10px;
  text-align: justify;
}

.PusherPage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--SitePrimaryColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.PusherPage form {
  position: relative;
  height: 100%;
  width: 40%;
  border: 2px solid black;
  overflow: scroll;
}

.PusherPage form div {
  margin: 15px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  flex-direction: column;
  border: 2px solid lightgreen;
  height: 100px;
}

.PusherPage form .listInputs {
  height: 500px;
  position: relative;
  border: 2px solid lightblue;
}

.PusherPage form .listInputs span {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px solid lightcoral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.PusherPage form .listInputs span .removeButton {
  position: absolute;
  top: 5px;
  right: 5px;
}

.RootPage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.RootPage .bgMesh {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, white), to(#405ab1));
  background: linear-gradient(to top, white 60%, #405ab1 100%);
}

.RootPage .RootRightPage,
.RootPage .RootLeftPage {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  z-index: 1;
}

.RootPage .RootRightPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.RootPage .RootRightPage .lottieContainer {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.RootPage .RootRightPage .bgRedCircle {
  position: absolute;
  width: 700px;
  height: 700px;
  z-index: 0;
  background-color: transparent;
  border-radius: 50%;
}

.RootPage .RootLeftPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.RootPage .RootLeftPage .HeaderBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row-reverse;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.RootPage .RootLeftPage .HeaderBox h1 {
  position: relative;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  font-family: "Gluten", cursive;
}

.RootPage .RootLeftPage .HeaderBox img {
  position: relative;
  height: auto;
  width: 20%;
}

.RootPage .RootLeftPage p {
  margin: 0px 20%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.QuemadurasPage,
.IntoxicacionesPage,
.AnafilaxiasPage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
}

.QuemadurasPage .informationContainer,
.IntoxicacionesPage .informationContainer,
.AnafilaxiasPage .informationContainer {
  height: 100%;
  width: 60%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.QuemadurasPage .informationContainer::-webkit-scrollbar,
.IntoxicacionesPage .informationContainer::-webkit-scrollbar,
.AnafilaxiasPage .informationContainer::-webkit-scrollbar {
  display: none;
}

.QuemadurasPage .informationContainer > *:not(hr),
.IntoxicacionesPage .informationContainer > *:not(hr),
.AnafilaxiasPage .informationContainer > *:not(hr) {
  padding: 50px 10%;
}

.QuemadurasPage .informationContainer hr,
.IntoxicacionesPage .informationContainer hr,
.AnafilaxiasPage .informationContainer hr {
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(64, 90, 177, 0.8)), color-stop(90%, transparent));
  background: linear-gradient(to right, rgba(64, 90, 177, 0.8) 5%, transparent 90%);
}

.QuemadurasPage .informationContainer h1,
.IntoxicacionesPage .informationContainer h1,
.AnafilaxiasPage .informationContainer h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(64, 90, 177, 0.8)), color-stop(90%, transparent));
  background: linear-gradient(to bottom, rgba(64, 90, 177, 0.8) 5%, transparent 90%);
}

.QuemadurasPage .informationContainer h2,
.IntoxicacionesPage .informationContainer h2,
.AnafilaxiasPage .informationContainer h2 {
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
}

.QuemadurasPage .informationContainer h3,
.IntoxicacionesPage .informationContainer h3,
.AnafilaxiasPage .informationContainer h3 {
  font-size: 1.3rem;
  -webkit-text-decoration: underline overline black;
          text-decoration: underline overline black;
}

.QuemadurasPage .informationContainer p,
.QuemadurasPage .informationContainer li,
.IntoxicacionesPage .informationContainer p,
.IntoxicacionesPage .informationContainer li,
.AnafilaxiasPage .informationContainer p,
.AnafilaxiasPage .informationContainer li {
  font-size: 1.3rem;
  padding: 25px 10%;
}

.QuemadurasPage .infographyContainer,
.IntoxicacionesPage .infographyContainer,
.AnafilaxiasPage .infographyContainer {
  height: 100%;
  width: 40%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.QuemadurasPage .infographyContainer .slick-slider,
.IntoxicacionesPage .infographyContainer .slick-slider,
.AnafilaxiasPage .infographyContainer .slick-slider {
  width: 80%;
  height: 60%;
}

.QuemadurasPage .infographyContainer .slick-slider .slick-arrow,
.IntoxicacionesPage .infographyContainer .slick-slider .slick-arrow,
.AnafilaxiasPage .infographyContainer .slick-slider .slick-arrow {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
}

.QuemadurasPage .infographyContainer .slick-slider div,
.IntoxicacionesPage .infographyContainer .slick-slider div,
.AnafilaxiasPage .infographyContainer .slick-slider div {
  height: 100%;
}

.QuemadurasPage .infographyContainer .slick-slider div img,
.IntoxicacionesPage .infographyContainer .slick-slider div img,
.AnafilaxiasPage .infographyContainer .slick-slider div img {
  width: 95%;
  height: auto;
  margin: auto;
}

.QuemadurasPage .infographyContainer .slick-slider h4,
.IntoxicacionesPage .infographyContainer .slick-slider h4,
.AnafilaxiasPage .infographyContainer .slick-slider h4 {
  margin: 0px auto;
  width: 95%;
  text-align: center;
  border: 2px solid rgba(64, 90, 177, 0.8);
}

.QuemadurasPage .infographyContainer .image-gallery,
.IntoxicacionesPage .infographyContainer .image-gallery,
.AnafilaxiasPage .infographyContainer .image-gallery {
  width: 70%;
}

.QuemadurasPage .ReturnButton,
.IntoxicacionesPage .ReturnButton,
.AnafilaxiasPage .ReturnButton {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  border-bottom-left-radius: 50%;
  background-color: transparent;
  border: 2px solid #2aaee6;
}

.QuemadurasPage .ReturnButton svg,
.IntoxicacionesPage .ReturnButton svg,
.AnafilaxiasPage .ReturnButton svg {
  fill: #2aaee6;
}

.NeuralinkPage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: white;
}

.NeuralinkPage::-webkit-scrollbar {
  display: none;
}

.NeuralinkPage section {
  position: relative;
  width: 100%;
  height: 100%;
}

.NeuralinkPage #NeuralinkHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  border: 10px solid white;
  border-radius: 40px;
  background: #642b73;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#c6426e), to(#642b73));
  background: linear-gradient(to right, #c6426e, #642b73);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.NeuralinkPage #NeuralinkHome .RightBox,
.NeuralinkPage #NeuralinkHome .LeftBox {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.NeuralinkPage #NeuralinkHome .RightBox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.NeuralinkPage #NeuralinkHome .RightBox h1 {
  color: white;
  font-size: 5rem;
  font-weight: bolder;
  -webkit-text-decoration: underline 1px white;
          text-decoration: underline 1px white;
}

.NeuralinkPage #NeuralinkHome .RightBox .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  height: 40%;
}

.NeuralinkPage #NeuralinkHome .LeftBox .lottieContainer {
  position: relative;
  width: 600px;
  height: 600px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.NeuralinkPage #NeuralinkHome .LeftBox .lottieContainer svg {
  top: 0;
  left: 0;
  position: absolute;
}

.NeuralinkPage #NeuralinkHome .LeftBox .lottieContainer svg g {
  overflow: visible;
  width: 700px;
  height: 700px;
}

.NeuralinkPage #NeuralinkHome .LeftBox .lottieContainer svg g path {
  -webkit-transform: scale(1.45);
          transform: scale(1.45);
}

.NeuralinkPage #InfoBlock1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.NeuralinkPage #InfoBlock1 .card {
  position: relative;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  height: 60%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  background: #642b73;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#c6426e), to(#642b73));
  background: linear-gradient(to bottom, #c6426e, #642b73);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.NeuralinkPage #InfoBlock1 .card > * {
  position: absolute;
}

.NeuralinkPage #InfoBlock1 .card .infoBox {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.NeuralinkPage #InfoBlock1 .card .infoBox > * {
  color: white;
}

.NeuralinkPage #InfoBlock1 .card .infoBox h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bolder;
  padding: 0px 5%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.NeuralinkPage #InfoBlock1 .card .infoBox p {
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 0px 5%;
  font-weight: bolder;
}

.NeuralinkPage #InfoBlock1 .card .svgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 50%;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.NeuralinkPage #InfoBlock1 .card .svgBox svg {
  width: 50%;
  height: 50%;
  fill: white;
  -webkit-transition: fill 500ms;
  transition: fill 500ms;
}

.NeuralinkPage #InfoBlock1 .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.NeuralinkPage #InfoBlock1 .front:hover .infoBox h2 {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.NeuralinkPage #InfoBlock1 .front:hover .svgBox {
  background-color: #642b73;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.NeuralinkPage #InfoBlock1 .front:hover .svgBox svg {
  -webkit-transition: fill 500ms;
  transition: fill 500ms;
  fill: #c6426e;
}

.NeuralinkPage #InfoBlock1 .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.NeuralinkPage #InfoBlock1 .back .infoBox {
  overflow-y: scroll;
}

.NeuralinkPage #InfoBlock1 .back .infoBox h2 {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  display: none;
}

.NeuralinkPage #InfoBlock1 .back .infoBox p {
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 1;
}

.NeuralinkPage #InfoBlock1 .back .svgBox {
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 0;
}

.NeuralinkPage #InfoBlock2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.NeuralinkPage #InfoBlock2 .blockContainer {
  position: relative;
  width: 95%;
  height: 90%;
  background-color: transparent;
  border: 2px solid #c6426e;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  overflow: hidden;
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsList {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #642b73;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#c6426e), to(#642b73));
  background: linear-gradient(to right, #c6426e, #642b73);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsList h1 {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
  font-weight: bolder;
  color: white;
  font-size: 1.5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsList .symptom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 70px;
  background: transparent;
  -webkit-transition: background 500ms;
  transition: background 500ms;
  cursor: pointer;
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsList .symptom p {
  color: white;
  font-weight: bolder;
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsList .symptom:hover {
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsInfo {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsInfo > * {
  margin: 0px 10%;
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsInfo h1 {
  font-weight: bolder;
  color: #642b73;
  font-size: 2rem;
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsInfo p {
  font-size: 1.2rem;
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsInfo .imgContainer {
  position: relative;
  width: 170px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
  background: #642b73;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#c6426e), to(#642b73));
  background: linear-gradient(to top, #c6426e, #642b73);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.NeuralinkPage #InfoBlock2 .blockContainer .symptomsInfo .imgContainer svg {
  fill: white;
  width: 70%;
  height: 70%;
}

.RetosPage {
  width: 100%;
  height: 100%;
  position: absolute;
  background: lightblue;
}

@media (max-width: 1000px) {
  .App .HomePage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .App .HomePage .HomeLeftBox,
  .App .HomePage .HomeRightBox {
    width: 100%;
    height: 50%;
  }
  .App .HomePage .HomeLeftBox .TitlesBox,
  .App .HomePage .HomeRightBox .TitlesBox {
    height: 70%;
  }
  .App .HomePage .HomeLeftBox .ButtonsBox,
  .App .HomePage .HomeRightBox .ButtonsBox {
    height: 30%;
  }
  .App .HomePage .bg .custom-shape-divider-top-1629405038 {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 100vw;
    margin-top: 50px;
  }
  .App .HomePage .bg .colorBox {
    margin-left: 0;
    margin-bottom: auto;
    height: 44%;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .App .MedsPage .SearchBar .innerBar {
    margin-left: 20%;
  }
  .App .MedsPage .SearchBar .arrowButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .App .MedsPage .FetchedMedsDisplay {
    width: 100%;
    margin-right: 0;
  }
  .App .MedsPage .boxToggled {
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  .App .MedsPage .boxNotToggled {
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  .App .MedsPage .RiskBox {
    top: 100px;
  }
}
/*# sourceMappingURL=index.css.map */